* {
    font-family: 'Inter';
    outline: none;
}

h1, h2, h3, h4, h5, h6, p, span {
    color: white;
    font-family: 'Inter';
    width: fit-content;
}

h1, h2, h3 {
    cursor: pointer;
}

a {
    color: #ffffff;
    font-size: 18px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

h5 {
    font-size: 14px;
    color: rgba(255, 255, 255, .4);
    font-weight: 500;

}

h6 {
    font-size: 10px;
    color: var(--black__ui1);
}