@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url(./burger.css);
@import url(./button.css);
@import url(./profile.css);
@import url(./text.css);
@import url(./container.css);
@import url(./header.css);
@import url(./modal.css);

:root {
    --red__main: rgb(213, 43, 43);
    --blue__main: #0963eb;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    background-color: #151515;
    overflow-x: hidden;
}

body {
    /* margin-right: 17px; */
}

.header {
    .container {
        .burger-menu {
        }
    }
    
}
