.profile {
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 0;

    gap: 40px;
    .profile__item {
        z-index: 0;
        /* display: flex; */
        align-items: center;
        flex-direction: column;
        .container.profile__item {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            position: relative;
            flex-direction: column;
            .profile__info {
                width: 100%;
                display: flex;
                gap: 20px;
                align-items: center;
                .avatar {
                    width: 100px;
                    border-radius: 50%;
                    aspect-ratio: 1 / 1;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {                        
                        aspect-ratio: 135 / 80;
                        height: 100%;
                        cursor: pointer;
                    }
                }
                .info {
                    .name {
                        font-size: 20px;
                        font-weight: 700;
                    }
                    .age {
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .about__myself {
        margin-top: 40px;
        .container.full {
            .accordions {
                overflow: auto;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .accordion {
                    width: 50%;
                    overflow: hidden;
                    transition: .3s ease-in-out;
                    height: 45px;
                    position: relative;
                    /* background: var(--black__ui1); */
                    .title {
                        cursor: pointer;
                        height: 45px;
                        border-radius: 10px;
                        padding: 12px 20px;
                        position: relative;
                        transition: .3s ease-in-out;
                        .expand__accordion {
                            user-select: none;
                            position: absolute;
                            top: 50%;
                            aspect-ratio: 1 / 1;
                            height: 24px;
                            transform: translateY(-50%);
                            right: 20px;
                            transition: .3s ease-in-out;
                            &.active {
                                transform: translateY(-50%)
                                rotate(45deg);
                                transition: .3s ease-in-out;
                            }
                        }
                        &:hover {
                            background: var(--black__ui1);
                            transition: .3s ease-in-out;
                        }
                        &.active {
                            background: var(--black__ui1);
                            transition: .3s ease-in-out;
                        }
                    }
                    .information {
                        opacity: 0;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        margin-top: 20px;
                        padding-left: 20px;
                        transition: .8s ease-in-out;
                        .element {
                            display: flex;
                            gap: 3px;
                            flex-direction: column;
                        }
                        &.active {
                            transition: .8s ease-in-out;
                            opacity: 1;
                        }
                    }
                    &.active {
                        transition: .3s ease-in-out;
                    }
                }
            }
        }
    }
}